/Degree.class
/Department.class
/Launch.class
/Module.class
/Period.class
/Registrars.class
/Registration.class
/StudyLevel.class
/TestApplicationWindow$1.class
/TestApplicationWindow$2.class
/TestApplicationWindow.class
